[submodule "sourcedata/things.fmriprep"]
	path = sourcedata/things.fmriprep
	url = git@github.com:courtois-neuromod/things.fmriprep.git
	datalad-id = 81d8c126-b10f-4e8b-9eab-6825964c8552
	datalad-url = git@github.com:courtois-neuromod/things.fmriprep.git
